<html>
<head th:replace="~{base :: head}"></head>

<body>
	<div th:replace="~{base :: logo}"></div>
	
	<div class="container">
		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>
		
		<div class="card mt-3">	
			<form th:action="@{/pedido/novo}" th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
				<div class="form-group">
					<label for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do produto"/>
					<small>Informe o nome do produto.</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">
						Nome do produto deve ser preenchido
					</div>
				</div>
				
				<div class="form-group">
					<label for="urlProduto">Url</label>
					<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Url do produto"/>
					<small>Procure em um site o produto que vc deseja e cole a url aqui.</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">
						URL do produto deve ser preenchida
					</div>
				</div>
				
				<div class="form-group">
					<label for="urlImagem">Imagem</label>
					<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="Url da imagem"/>
					<small>Cole o caminho da imagem aqui.</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}">
						URL da imagem deve ser preenchida
					</div>
				</div>
				
				<div class="form-group">
					<label for="descricao">Descricao</label>
					<textarea th:field="*{descricao}" class="form-control" name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
				</div>
				<br>
				<button class="btn btn-outline-secondary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>
